html, body {
    height: 100%;
    width: 100%;
}
  
body {
    background-image: url('../images/psubg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}  