.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  text-align: center;
  flex: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

.login-button:hover {
  background-color: #2980b9;
  color: #fff;
  cursor: pointer;
}

.login-button {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-container {
  width: 100%;
  text-align: center;
}

.login-button {
  background-color: #08456d;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  width: 25%;
  height: 100%;
  font-size: 40px;
  font-weight: bold;
}

.logo-img {
  width: 100%;
  height: 50%;
}

.center-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-content-wrapper {
  margin-bottom: 50px;
}

.text-content {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #08456d;
}

.ClipLoader{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 4s ease-in-out;
}